@import "../../assets/scss/global/variables";
.wrap{
    width:1440px;
    margin: 0 auto;
    .left_list{
        margin: 50px 50px 0 0;
        .subtitle{
            color: #454343;
            font-size: 17px;
            margin-top: 30px;
        }
        ul li {
            margin-top: 15px;
            font-size: 14px;
            &:hover{
                color: $main_color;
            }
        }
        .active{
            color: $main_color;
        }
    }
    .right_content{
        width: 1281px;
        height: 1386px;
        background-color:#fff;
        .time_wrap{
            width: 1214px;
            height: 70px;
            border-bottom: 1px solid #DCDCDC;
            margin: 0 auto;
            line-height: 70px;
            background-color: #fff;
        }
    }
}
