// 色调
$main-color: #e2164e;
$item-bg-color: #efefef;

//宽度
$min-width: 1200px;
$max-width: 1810px;
// 高度
$header-height: 56px;


$change-start: #fc477a;
$change-end: #e2164e;

// 阴影
$box-shadow: #F2F2F2;
$box-shadow-f1: #F1F1F1;

//边线
$border-bottom: #D2D2D2;

// Gray
$color-gray-darker:   #333333;
$color-gray-dark:     #555555;
$color-gray:          #999999;
$color-gray-light:    #cfcfcf;
$color-gray-lighter:  #efefef;

// Border Radius
$border-radius-default: 3px;
$border-radius-1: 1px;
$border-radius-2: 2px;
$border-radius-3: 3px;
$border-radius-4: 4px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-round: 500px;
$border-radius-circle: $border-radius-round;


// Font(Text) Sizes
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-44: 44px;

// 字体
$font-color-70: #707070;
$font-color-28: #282828;
$font-color-88: #888;
$font-color-cd: #CDBBA1;
$font-color-c2: #C2C1C1;
