@import "../../assets/scss/global/variables";
.about_wrap {
    img {
        display: block;
        width: 100%;
    }
    .list_wrap {
        box-shadow: 0 4px 7px #EDEEF2;
        margin: 15px 0 0;
        padding: 1px 0;
        position: relative;
        z-index: 2;
        .about_list {
            width: 1000px;
            text-align: center;
            margin: auto;
            margin-bottom: 14px; 
            li {
                a {
                    padding-bottom: 15px;
                }
                .active{
                color: $main-color;
                border-bottom: 3px solid $main-color;
                padding-bottom: 15xp;
                }
            }
        }
    }
    
}