@import "../../assets/scss/global/variables";
.home_wrap {
  min-width: $min-width;
  background-color: #F8F8F8;
  padding-top: $header-height;
 }
.info_wrap {
  width: 1147px;
  margin: 0 auto;
  padding: 30px 0;
  font-size: $font-size-14;
  .info_item {
    margin-bottom: 10px;
    padding: 10px 30px;
    background-color: #fff;
    .item_header {
      padding: 20px 0;
      span {
        font-size: $font-size-18;
      }
      .header_dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $main-color;
        vertical-align: 3px;
      }
    }
    .avatar {
      position: relative;
      overflow: hidden;
      width: 100px;
      // height: 100px;
      border-radius: 50%;
      &:hover span {
        display: block;
      }
      img {
        display: block;
        width: 100%;
      }
      span {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #555555, $alpha: 0.1);
        text-align: center;
        line-height: 100px;
        color: #fff;
        .el-upload {
          display: block;
        }
      }
    }
  }
  .el-select {
    display: block;
  }
  .el-date-editor--date {
    display: block;
    width: auto;
  }
  .el-checkbox__inner {
    display: none;
  }
  .el-textarea__inner::-webkit-input-placeholder, .el-input__inner::-webkit-input-placeholder {
    font-size: 14px;
  }
}
.avatar_label {
  .el-form-item__label {
    line-height: 100px;
  }
}



//模块
.small_title{
  position: relative;
  display: inline-block;
  padding: 10px 50px;

  &>span{
    position: relative;
    z-index: 3;
    padding: 10px 10px;
    background-color: #fff;
  }
  &>.line{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
}
.side_position {
  z-index: 3;
  position: absolute;
  bottom: 180px;
  right: -90px;
  .side_plane {
    position: absolute;
    top: 0;
    right: -13px;
    width: 100px;
    margin-top: -66px;

  }
  .side_wrap {
    width: 70px;
    padding: 25px 0;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    .side_item {
      text-align: center;
      .icon_font {
        margin-bottom: 3px;
        font-size: 24px;
      }
      & + .side_item {
        margin-top: 25px;
      }
    }
  }
}
.el_dialog {
  .el-dialog {
    height: 256px;
    background-color: transparent;
    box-shadow: none;
    background: url('../../assets/images/sign_in_bg.png') center center no-repeat;
    background-size: contain;
  }
}
.swiper-button-prev {
  background-image: url(../../assets/images/right_icon.png)
}
.swiper-button-next {
  background-image: url(../../assets/images/left_icon.png)
}